<nav class="navbar">
  <div class="container">
    <ul>
      <li class="active">
        <a href="/" data-toggle="tooltip" title="View all trips currently in your Adventure Journal. You can also edit & delete previous entries here">Home</a></li>
      <li><a href="/addToJournal" data-toggle="tooltip" title="Add new entries to your Adventure Journal">Add to Journal</a></li>
      <li><a href="/addToWishList" data-toggle="tooltip" title="Add new entries to your Wish List">Add to Wish List</a></li>
      <li><a href="/search" data-toggle="tooltip" title="Search your Adventure Journal by location">Search</a></li>
      <li><a href="/wishList" data-toggle="tool-tip" title="View all locations on your wish list and add to it here">Wish list</a></li>
      <!-- *** UPDATE href below to log user out -->
      <li><a href="" data-toggle="tool-tip" title="Click here to log out">Logout</a></li>
    </ul>
  </div>
</nav>

<script>
(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


