<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add to your Wish List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- Nav bar -->
    <%- include ("../partials/navbar.ejs") %>
    
    <!-- page content -->
    <!-- section to display current trips in users Adventure Journal -->
    <div>
        <br>
        <h1>Add to your Wish List</h1>
        <h4>Add a location or place you would like to travel to your wish list. This will make it easier to <br>decide where you want to take your next adventure and to start planning it.</h4>
        <h4>You can enter a city, town, state, country, or any place you would like to visit:</h4>
        <br>
        <!-- *** UPDATE ACTION & METHOD TO POST *** -->
        <form action="http://127.0.0.1:5000/wikiScraper/+"location"/overview" method="get">
          <label for="location">Location:</label>
          <input type="text" id="location" name="location"><br><br>
          <a href ="/wishList" type="submit" value="Add">
        </form>
    </div>
            
    
     
     
     
     
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
    
  </body>
</html>
