<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add to Adventure Journal</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- Include nav bar -->
    <%- include ("../partials/navbar.ejs") %>
      
    <!-- page content -->
    <div>
        <br><br>
        <h2>This page allows you to add a previous trip you have taken to your Adventure Journal.</h2>
        <h3>Please complete all of the fields below (pictures are optional):</h3>
        <br><br>
        <!-- form to add a trip -->
        <form action="/users/addToJournal" method="POST">
          <label for="location">Location of trip:</label>
          <input type="text" id="location" name="location"><br><br>
          <label for="startdate">Start date of trip:</label>
          <input type="date" id="startdate" name="startdate"><br><br>
          <label for="enddate">End date of trip:</label>
          <input type="date" id="enddate" name="enddate"><br><br>
          <label for="travelbuddies">Travel buddies (who went on this trip with you):</label>
          <input type="text" id="travelbuddies" name="travelbuddies"><br><br>
          <label for="pictures">Click to upload pictures from your trip:</label>
          <input type="file" id="pictures" name = "pictures"><br><br>
          <input type="submit" value="Add trip">
        </form>
    </div>
            
    
     
     
     
     
    
  </body>
</html>

