<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add to your Wish List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- Include nav bar -->
    <%- include ("../partials/navbar.ejs") %>
    
    <!-- page content -->
    <div>
        <br>
        <h1>Add to your Wish List</h1>
        <h4>Add a location or place you would like to travel to your wish list. This will make it easier to <br>decide where you want to take your next adventure and to start planning it.</h4>
        <h4>You can enter a city, town, state, country, or any place you would like to visit:</h4>
        <br>
        <!-- *** FORM TO SUBMIT TO SERVICE *** -->
        <form id="addtowishlist_form" onsubmit="addFunction()">
            <label for="location">Location:</label>
                <input type="text" id="location" name="location"><br><br>
            <input type="submit" value="Add">
        </form>
    </div>
    
    <div>
      <h4>All trips currently on your wish list are displayed below:</h4>
        <br>
        <%# Table to display all trips currently on users wish list %>
        <table id="wishListTable">
          <thead>
          </thead>
        <tbody>
            <tr>
                <td>Location</td>
                <td>Brief Description</td>
            </tr>
        </table>
    </body>
  </div>
  
<script>

// prevent form from submitting
const element = document.querySelector('form');
element.addEventListener('submit', event => {
  event.preventDefault();
  // validate the form - parse response from service and display on page
  
  console.log('Form submission cancelled.');
});

function addFunction(){
    var heading = "/Overview";
    var action_src = "http://127.0.0.1:5000/wikiScraper/" + document.getElementsByName("location")[0].value + heading;
    var addtowishlist_form = document.getElementById('addtowishlist_form');
    addtowishlist_form.action = action_src;

fetch(action_src)
  .then(response => response.json())
  .then(data => {
    var table = document.getElementById("wishListTable");
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = document.getElementsByName("location")[0].value;
    cell2.innerHTML = (data['paragraph1']);

  })
  
  
  
  console.log(document.getElementsByName("location")[0].value);

};


</script>
  
</html>
