<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit Trip</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- include nav bar -->
    <%- include ("../partials/navbar.ejs") %>
    
    <!-- page content -->
    <div>
        <br><br>
        <h2>This page allows you to edit a previous trip alread in your Adventure Journal</h2>
        <h4>To ensure all updates are saved, please click the save button after all edits have been completed</h4>
        <br><br>
        <!-- form to edit a trip -->
        <form action="/users/editTrip" method="PUT">
          <label for="location">Location of trip:</label>
          <input type="text" id="location" name="location"><br><br>
          <label for="startdate">Start date of trip:</label>
          <input type="date" id="startdate" name="startdate"><br><br>
          <label for="enddate">End date of trip:</label>
          <input type="date" id="enddate" name="enddate"><br><br>
          <label for="travelbuddies">Travel buddies (who went on this trip with you):</label>
          <input type="text" id="travelbuddies" name="travelbuddies"><br><br>
          <label for="pictures">Click to upload more pictures from your trip:</label>
          <input type="file" id="pictures" name = "pictures"><br><br>
          <input type="submit" value="Save">
        </form>
    </div>
            
    
     
     
     

    
  </body>
</html>

