<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- Nav bar -->
    <%- include ("../partials/navbar.ejs") %>
    
    <!-- page content -->
    <!-- section to explain to user how to use this web page -->
    <div>
        <h1>Welcome to the search page</h1>
        <h3>This page allows you to type in a location and search to see if<br> this location is already in your adventure journal.<br><br>Type in the location you would like to search for below:</h3>
        <!-- text boxes for location -->
        <!-- *** UPDATE ACTION -->
        <form action="" method="get">
          <label for="location">Location:</label>
          <input type="text" id="location" name="location"><br><br>
          <input type="submit" value="Search">
        </form>
    </div>
            
    
     
     
     
     
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
    
  </body>
</html>

