<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Homepage</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- Nav bar -->
    <%- include ("../partials/navbar.ejs") %>
    
    <!-- page content -->
    <!-- section to display current trips in users Adventure Journal -->
    <div>
        <br>
        <h1>Welcome to your Adventure Journal</h1>
        <h4>All trips currently in your journal are displayed below:</h4>
        <br>
        <!-- Table to display all trips currently in DB -->
        <!-- *** FAKE DATA CURRENTLY *** -->
        <table>
        <thead>
          <tr>
            <th>Dates</th>
            <th>Location</th>
            <th>Travel Buddies</th>
            <th>Click button for pictures</th>
            <th>Click button to edit trip</th>
            <th>Click button to delete trip</th>
          </tr>
        <tbody>
            <td>June 3, 2018 - June 4, 2018</td>
            <td>Seattle</td>
            <td>Sean</td>
            <td><a href=""><input type="button" value="pictures"/></a></td>
            <td><a href="/editTrip"><input type="button" value="edit"/></a></td>
            <td><a href=""><input type="button" value="delete"/></a></td>
          </tr>
            <tr>
            <td>June 5, 2018 - June 10, 2018</td>
            <td>Alaska</td>
            <td>Sean</td>
            <td><a href=""><input type="button" value="pictures"/></a></td>
            <td><a href="/editTrip"><input type="button" value="edit"/></a></td>
            <td><a href=""><input type="button" value="delete"/></a></td>
          </tr>
       
        </table>
     
     
     
     
    </div>
            
    
     
     
     
     
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>
    
  </body>
</html>
