<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wish List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
  <body>
    <!-- Nav bar -->
    <%- include ("../partials/navbar.ejs") %>

    <%# page content %>
    <%# section to display current trips in users wish list from table in DB %>
    <div class="container">
        <br>
        <h1>Welcome to your Wish List</h1>
        <h4>All trips currently on your wish list are displayed below:</h4>
        <br>
        <%# Table to display all trips currently on users wish list %>
        <table id="table">
          <thead>
            <tr>
              <th>Location</th>
              <th>Brief description</th>
        <%# *** ADD PIC     <th>Picture</th> %>
          </tr>
          </thead>
        <tbody>
        
        
        
        
        
        
<% /* %>
START COMMENT - FIX CODE BELOW:
        <% if (results.length > 0) { %>
            <tr class="wish-list-table">
                <% results.forEach(function(wish_list)) { %>
                      <td><%= wish_list.location %></td>
                      <td><%= wish_list.paragraph1 %></td>
                    </tr>
                <% } %>
        </table>
        <% } else { %>
                <h3>No locations in wish list yet</h3>
            <% }; %>
END COMMENT
<% */ %>
        
        <br><br>
        <br>
 
    
    
    </div>
            

     
     
     
     
    
  </body>
</html>
